body, html, #root, .App {
  height: 100%;
  background-image: url(./background.jpeg);
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: medium;
  margin: 8px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auth {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6d597a;
}

form { 
  text-align:center;
  margin: 100px;
}

form label {
  display: block;
  margin: 20px;
  color: black;
}

form input {
  margin: 0 20px;
}

form button {
  margin: 5px;
}

.garment {
  /* border: solid black 2px; */
  
  height: 250px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.garment-img {
  height: 180px;
  width: 160px;
  border-radius: 10px;
}

.create {
  background-color: #8d99ae;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

form { 
  text-align: right;
  margin: 100px;
}

form label {
  display: block;
}

form button {
  margin: 5px;
  align-self: center;

}

form label input, form label textarea, form label select  {
  margin: 5px;
}

select {
  width: 150px;
}

.wardrobe-list-page {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

.garment-detail {
  height: 600px;
  width: 500px;
  background-color: #e3d5ca;
  margin-top: none;
  border-radius: 20px;
}

.garment-img-detail {
  height: 350px;
  width: 300px;
}

header button {
  align-self: flex-end;
  margin: 10px;
  height: 30px;
  width: 80px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

